com.example.memento.finatra.config {
    port = {{ port }}
    adminPort = {{ admin_port }}
    yandexTranslateHost = "{{ yandex_translate_host }}"
    yandexTranslatePort = {{ yandex_translate_port }}
    yandexTranslateSecure = {{ yandex_translate_secure | lower }}
    yandexTranslateApiKey = "{{ yandex_translate_api_key }}"
}
