<settings xmlns="http://maven.apache.org/SETTINGS/1.0.0" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
          xsi:schemaLocation="http://maven.apache.org/SETTINGS/1.0.0 http://maven.apache.org/xsd/settings-1.0.0.xsd">

    <servers>
{% for server in maven_servers %}
        <server>
            <id>{{ server.id }}</id>
            <username>{{ server.username }}</username>
            <password>{{ server.password }}</password>
        </server>
{% endfor %}
    </servers>
</settings>
